<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tp_final">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TP_FINAL"
        tools:targetApi="31">
        <activity
            android:name=".PopUp_Cabecera_Comprobante"
            android:exported="false" />
        <activity
            android:name=".PopUp_Cabecera_Pedidos_Usuarios"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".PopUp_Pedidos_Comercio"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".Pedido_Usuario"
            android:exported="false" />
        <activity
            android:name=".Editar_Usuario"
            android:exported="false" />
        <activity
            android:name=".Navigation_Drawer_Comercio"
            android:exported="false" />
        <activity
            android:name=".Editar_Comercio"
            android:exported="false" />
        <activity
            android:name=".Metodos_Pago"
            android:exported="false" />
        <activity
            android:name=".PopUpEliminar_Producto_Comercio"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".Productos_ABM_Comercio"
            android:exported="false" />
        <activity
            android:name=".PopUpFinalpedido"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".PopUp_AgregarProducto"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".Seleccion_Comercio"
            android:exported="false" />
        <activity
            android:name=".PopUp_ValidacionComercio"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".Recupero_Passw"
            android:exported="false" />
        <activity
            android:name=".Rating_activity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".Navigation_drawer"
            android:exported="false" />
        <activity
            android:name=".RegistroComercio"
            android:exported="false" />
        <activity
            android:name=".RegistroUsuario"
            android:exported="false" />
        <activity
            android:name=".LoginUsuario"
            android:exported="false" />
        <activity
            android:name=".Seleccion_Usuario"
            android:exported="false" />
        <activity
            android:name=".LoginComercio"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>